###########################################################
###################### General Setup ######################
###########################################################

### Drivers ################################################

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge

### TELEGRAF ###############################################

TELEGRAF_PORT=3000
TELEGRAF_VERSION=1.13.4-alpine
TELEGRAF_HOST_NAME=telegraf
TELEGRAF_INFLUXDB_HOST=influxdb
TELEGRAF_INFLUXDB_PORT=8086
TELEGRAF_DATABASE=telegraf

### GRAFANA ###############################################

GRAFANA_PORT=3000
GRAFANA_VERSION=6.7.1
GRAFANA_INSTALL_PLUGINS=grafana-clock-panel,grafana-piechart-panel,grafana-simple-json-datasource  1.2.3
GRAFANA_SECURITY_ADMIN_USER=admin
GRAFANA_SECURITY_ADMIN_PASSWORD=admin
GRAFANA_SECURITY_SECRET_KEY=grafana
GRAFANA_USERS_ALLOW_SIGN_UP="true"
GRAFANA_USERS_ALLOW_ORG_CREATE="true"
GRAFANA_AUTH_ANONYMOUS_ENABLED="true"
GRAFANA_AUTH_ANONYMOUS_ORG_NAME=grafana
GRAFANA_DASHBOARDS_JSON_ENABLED="true"
GRAFANA_DASHBOARDS_JSON_PATH=/opt/grafana
GRAFANA_PLUGINS_ENABLED="true"

### MOSQUITTO #################################################

MOSQUITTO_PORT=1883
MOSQUITTO_SSL_PORT=8883
MOSQUITTO_WS_PORT=9001

### INFLUXDB #################################################

INFLUXDB_VERSION=1.2-alpine
INFLUXDB_PORT=8086
INFLUXDB_API_PORT=8086
INFLUXDB_HOST="localhost"

INFLUXDB_ADMIN_ENABLED="true"   

INFLUXDB_ADMIN_USER=grafana
INFLUXDB_ADMIN_PASSWORD=grafana       
INFLUXDB_DB=telegraf 
